@tailwind base;
@tailwind components;
@tailwind utilities;

.product-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid #80808045;
    border-radius: 20px;
  }
  
  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
  }